@model Zonama.Models.Gerant

@{ ViewBag.Title = "Delete"; }

<h2>Suppression de gérant</h2>

<h3>Etes vous sûr de vouloir supprimer le gérant ci-dessous?</h3>
<div>
    <h4>Gerant</h4>
    <hr />
    <table class="table table-striped text-center">
        <tbody>
            <tr>
                <th scope="row" class="text-center">Numéro</th>
                <td>@Html.DisplayFor(model => model.id_ger)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Nom</th>
                <td>@Html.DisplayFor(model => model.nom)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Prénom</th>
                <td>@Html.DisplayFor(model => model.prenom)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Téléphone</th>
                <td>@Html.DisplayFor(model => model.tel)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">E-mail</th>
                <td>@Html.DisplayFor(model => model.email)</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <button type="submit" value="Delete" class="btn btn-danger">
                    Supprimer
                </button>

                                <button type="button" class="btn btn-info">
                                    @Html.ActionLink("Retour à la liste", "Index", new { area = "" }, new { @class = "text-white" })
                                </button>}
</div>
