@model Zonama.Models.Gerant

@if (Session["Nom"] != null)
{

    {
        ViewBag.Title = "Edit";
    }

<h2>Modifier un gérant</h2>
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Gerant</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_ger)

    <div class="form-group">
        <p class="control-label col-md-2 font-weight-bold text-uppercase">Nom</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2 font-weight-bold text-uppercase">Prénom</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2 font-weight-bold text-uppercase">Téléphone</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2 font-weight-bold text-uppercase">E-mail</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <p class="control-label col-md-2 font-weight-bold text-uppercase">Mot de passe</p>
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <button type="submit" value="Save" class="btn btn-info text-white">
        Sauvegarder
    </button>

    <button type="submit" value="Delete" class="btn btn-info">
        @Html.ActionLink("Retour à la liste", "Index", new { area = "" }, new { @class = "text-white" })
    </button>
</div>}
}
else
{
    <h3> Erreur! Veuillez vous @Html.ActionLink("connecter", "Index", "Login") </h3>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}