@model Zonama.Models.Employe

@if (Session["Nom"] != null)
{

    {
        ViewBag.Title = "Details";
    }

<h2>Details</h2>

<div>
    <h4>Detail de l'employé</h4>
    <hr/>
    <table class="table table-striped text-center">
        <tbody>
            <tr>
                <th scope="row" class="text-center">Numéro</th>
                <td>@Html.DisplayFor(model => model.id_emp)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Nom</th>
                <td>@Html.DisplayFor(model => model.nom)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Prénom</th>
                <td>@Html.DisplayFor(model => model.prenom)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Téléphone</th>
                <td>@Html.DisplayFor(model => model.tel)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">E-mail</th>
                <td>@Html.DisplayFor(model => model.email)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Date d'admission</th>
                <td>@Html.DisplayFor(model => model.date_adm)</td>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-info">
    @Html.ActionLink("Modifier", "Edit", new { id = Model.id_emp }, new { @class = "text-white" })
</button>
<button type="button" class="btn btn-info">
    @Html.ActionLink("Retour à la liste", "Index", new { area = "" }, new { @class = "text-white" })
</button>
<button type="button" class="btn btn-danger">
    @Html.ActionLink("Supprimer", "Delete", new { id = Model.id_emp }, new { @class = "text-white" })
</button> }
else
{
    <h3>Erreur! Veuillez vous @Html.ActionLink("connecter", "Index", "Login")</h3>
}