@model Zonama.Models.Produit

@{ ViewBag.Title = "Delete"; }

<h2>Suppression du produit</h2>

<h3>Etes vous sûr de vouloir supprimer le produit ci-dessous?</h3>
<div>
    <h4>Produits</h4>
    <hr />
    <table class="table table-striped text-center">
        <tbody>
            <tr>
                <th scope="row" class="text-center">Numéro</th>
                <td>@Html.DisplayFor(model => model.id_prod)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Nom</th>
                <td>@Html.DisplayFor(model => model.libelle)</td>
            </tr>
            <tr>
                <th scope="row" class="text-center">Prix</th>
                <td>@Html.DisplayFor(model => model.prix)€</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm())
    {
@Html.AntiForgeryToken()

                <button type="submit" value="Delete" class="btn btn-danger">
                    Supprimer
                </button>

                                <button type="button" class="btn btn-info">
                                    @Html.ActionLink("Retour à la liste", "Index", new { area = "" }, new { @class = "text-white" })
                                </button>}
</div>